name: Transform JSON

on:
  schedule:
    - cron: '0 */3 * * 5'
    - cron: '0 */3 * * 6'
    - cron: '0 */3 * * 0'
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12.7'

      - name: Check Python version and path
        run: |
          which python
          python --version
          
      - name: Install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          python -m pip install --upgrade pip
          pip install requests gitpython

      - name: Run transformation script
        run: |
          source .venv/bin/activate
          python transform_schedule.py

      - name: Commit report
        run: |
          git config --global user.name 'formulatimer'
          git config --global user.email 'manpean@outlook.es'
          git add .
          if git diff-index --quiet HEAD --; then
            echo "No changes to commit"
          else
            git pull
            git commit -m "Update schedule"
            git push
          fi
